.container {
  opacity: 1;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.location {
  margin-bottom: 1rem;
  color: red;
}

.date {
  margin-bottom: 1rem;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
